body{
    font-size: 20px;
}
.control_panel{
    border: 1px solid;

}
.control_panel input{
    color: #dc5f10;
    border: 1px solid;

    margin-top:2px ;

}

.control_panel label{
    width: 10%;
    display: inline-block;
    margin-top: 2px;
}
.btn-delete{
    border: 1px solid;
    color: antiquewhite;
    background-color: darkred;
    font-size: 15px;

}
.btn-update{
    border: 1px solid;
    color: azure;
    background-color: green;
    font-size:15px ;
}